.menu{
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    left: 0;
}
.nopadding{
    padding: 0px !important;
    margin: 0px !important;

}
.title{
    font-weight: bold;
}
.conprice{
    box-shadow: 0 1px 15px 5px rgba(0,0,0,.16); 
}
.confaq{
    box-shadow: 0 1px 15px 5px rgba(0,0,0,.16); 
}

.price{
    list-style: none;
    text-align: center;
    padding: 0px;
    margin: 0px;
    margin: 5% 0 5% 0;
    cursor: pointer;
}
.txbold{
    font-weight: bold;
}
.price li{
    /* padding: 5px; */
}
/* basic Start */
.basic1:hover{
    box-shadow: 0 1px 15px 5px rgba(0,0,0,.16); 
    -webkit-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    z-index: 1;
    position:  relative;
    border-radius: 8px 8px 0 0;
}
.basic-title{
    background-color: #42A5F5;
    border-radius: 8px 8px 0 0;
    font-size: 2.5em;
    color: white;
}
.basic-subtitle{
    background-color: #90CAF9;
    font-size: 1.5em;
    color: white;
}
.basic{
    background-color: #42A5F5;
}
.basic2{
    background-color: #90CAF9;
}
/* basic End */

/* standard Start */
.standard1:hover{
    box-shadow: 0 1px 15px 5px rgba(0,0,0,.16); 
    -webkit-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    z-index: 1;
    position:  relative;
    border-radius: 8px 8px 0 0;
}
.standard-title{
    background-color: #EC407A;
    border-radius: 8px 8px 0 0;
    font-size: 2.5em;
    color: white;
}
.standard-subtitle{
    background-color: #F48FB1;
    font-size: 1.5em;
    color: white;
}
.standard{
    background-color: #EC407A;
}
.standard2{
    background-color: #F48FB1;
}
/* standard End */

/* premium Start */
.premium1:hover{
    box-shadow: 0 1px 15px 5px rgba(0,0,0,.16); 
    -webkit-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    z-index: 1;
    position:  relative;
    border-radius: 8px 8px 0 0;
}
.premium-title{
    background-color: #66BB6A;
    border-radius: 8px 8px 0 0;
    font-size: 2.5em;
    color: white;
}
.premium-subtitle{
    background-color: #A5D6A7;
    font-size: 1.5em;
    color: white;
}
.premium{
    background-color: #66BB6A;
}
.premium2{
    background-color: #A5D6A7;
}
/* premium End */
/* extra Start */
.extra1:hover{
    box-shadow: 0 1px 15px 5px rgba(0,0,0,.16); 
    -webkit-transition: all .4s ease 0s;
    transition: all .4s ease 0s;
    -webkit-transform: scale(1.15);
    -ms-transform: scale(1.15);
    transform: scale(1.15);
    z-index: 1;
    position:  relative;
    border-radius: 8px 8px 0 0;
}
.extra-title{
    background-color: #AB47BC;
    border-radius: 8px 8px 0 0;
    font-size: 2.5em;
    color: white;
}
.extra-subtitle{
    background-color: #CE93D8;
    font-size: 1.5em;
    color: white;
}
.extra{
    background-color: #AB47BC;
}
.extra2{
    background-color: #CE93D8;
}
/* extra End */


/* .price-name{
    margin-top: 31.5%;
}
@media (max-width: 576px){
    .price-name{
        margin-top: 25.5%;
    }
} */
/* Price name Start */
.price-name-title{
    /* background-color: #f8f8f8; */
    border-radius: 8px 8px 0 0;
    font-size: 2.5em;
    color: #ECEFF1;
}
.price-name-subtitle{
    background-color: #f8f8f8;
    font-size: 1.5em;
    /* color: white; */
}
.price-names{
    background-color: #f8f8f8;
}
/* Price name End */


